// Header styles fof the Vibrant rebrand //

header {
	border-bottom: 1px solid $nh-blue;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	.topbar {
		background: $nh-blue;
		height: $topbar-height;
		display: flex;
		color: $white;
		font-size: 1.2em;
		justify-content: space-between;
		align-items: center;

		@media only screen and (max-width: $md-breakpoint) {
			flex-direction: column-reverse;
			height: $topbar-mobile-height;
			justify-content: space-around;
		}

		.fa-phone {
			margin: 0 5px 0 10px;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.social {
			display: flex;
			align-items: center;
			justify-content: space-between;

			a {
				margin-right: 15px;
				font-size: 1.2em;
			}
		}

		div {
			display: flex;
		}
	}

	.navigation {
		align-items: center;
		font-weight: bold;
		background: $white;
		display: flex;
		font-size: 1.3em;
		justify-content: space-between;
		text-transform: uppercase;
		min-height: 80px;
		padding: 10px 20px;
		top: 0;
		width: 100%;
		z-index: 3;

		@media only screen and (max-width: $md-breakpoint) {
			padding: 0;
			justify-content: space-around;
		}

		.logo {
			@media only screen and (max-width: $md-breakpoint) {
				align-self: center;
			}
		}

	.toggle-wrapper {
			display: flex;
			flex-direction: column;
			width: 30px;
			height: 26px;
			position: relative;
			margin: -12px 0 0 20px;
			z-index: 5;

			@media only screen and (min-width: $md-breakpoint) {
				display: none;
			}	

			p {
				color: $nh-blue;
				font-size: 0.6em;
				margin: 20px 0 0 -1px;
			}
		}

	.menu-toggle {
			cursor: pointer;		

			.bg {
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				
			}

			.bar {
				background: $nh-blue;
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
				top: 10%;

				&:nth-child(2){
					top: 50%;
				}
				&:nth-child(3){
					top: 90%;
				}
			}

			&.active {

				.bar {
					//background: $white;
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(-45deg);
						top: 50%;
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						transform: rotate(45deg);
						top: 50%;
					}
				}
			}

			&.inactive {

				.bar {
					transition: $menu-transition;
					
					&:first-child {
						transform: rotate(0);
						top: 20%;
					}

					&:nth-child(2) {
						opacity: 1;
					}

					&:nth-child(3) {
						transform: rotate(0);
						top: 80%;
					}
				}
			}
		}

		.nav {
            align-items: center;
            display: flex;
            font-weight: 700;
            justify-content: flex-end;
            text-align: right;
            z-index: 10;

            @media screen and (max-width: $xl-breakpoint) {
                justify-content: center;
            }

            @media screen and (max-width: $md-breakpoint) {
                align-items: flex-end;
                background: black;
                display: none;
                position: fixed;
                top: 176px;
                width: 100%;
            }

            @include flex-column-layout($md-breakpoint);

            &.active {
            	display: block;
            }

            >li {
                color: $nh-blue;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin: 0 20px 0;
                padding: 0 10px;
                text-align: left;
                text-decoration: none;

                a {
                	text-decoration: none;
                }

                .submenu {
                    max-height: 0;
                    margin-top: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    top: 120px;
                    transition: all .4s ease-out;
                    z-index: 2;

                    >.nav-item {
                    	background: $nh-blue;
                    	border: $nh-blue 1px solid;
                    	padding: 10px;
                    	position: relative;

                    	a {
                    		color: $nav-color;
                    		
                    		&:hover {
								color: white;
								background: $nh-lt-blue;
                    		}
                    	}
                    }

                    @media screen and (max-width: $md-breakpoint) {
						max-width: 60%;
						right: 0;
						top: 0;

						 >.nav-item {
						 	border-top: 1px solid white;
						 	border-left: 1px solid white;
						 	margin-top: 0;
						 	padding: 0;
							
							a {
								padding: 0 10px;
							}

						 }
                    }
                }

                &:hover {
                    
                    .submenu {
                        max-height: 500px;
                    }
                }


                @media screen and (max-width: $md-breakpoint) {
                    background: $nh-blue;
                    border-bottom: 1px solid white;
                    font-size: 1.2em;
                    height: auto;
                    position: relative;
                    margin: 0;
                    text-align: left;
                    width: 100%;

                    a {
                        align-items: center;
                        color: white;
                        display: flex;
                        height: 60px;
                        width: 100%;

                        &:hover {
                            color: white;
                        }
                    }

                    &:hover {
                        background: $nh-lt-blue;
                    }
                }
            }
        }
	}
}
