
.homepage {

	.emergency-alert {
			background: $nh-red;
			color: $white;

			h1, h2, h3, h4 {
				padding-top: 40px;
				color: $white;
				text-align: center;
			}
			p {
				padding-bottom: 40px;
			}
		}


	.ctas {
		background: $nh-blue;
	
		.container {
			align-items: center;
			font-size: 1.7em;
			font-weight: bold;
			justify-content: space-between;
			display: flex;
			padding: 50px 0;

			@include flex-column-layout($md-breakpoint);

			>div {
				@include mobile-bottom-margin($md-breakpoint, 50px);

				&:nth-child(even) {

					@media only screen and (max-width: $md-breakpoint) {
		        		display: none;
		    		}

				}

			}

			img {
				align-self: center;
				margin-right: 20px;
			}

			p {
				font-size: 1em;
				line-height: 26px;
				margin-bottom: 0;
				text-align: left;
			}

			a {
				align-items: center;
				justify-content: center;
				display: flex;
				color: $white;
				text-decoration: none;
				margin-right: 20px;
			}
		}
	}

	.mission {
		padding:0 5% 40px;
		text-align: center;

		h1 {
			font-size: 2em;
		}

		p {
			font-size: 1.4em;
		}

		 @media only screen and (min-width: $sm-breakpoint) {
        	padding:0 15% 40px;
    	}
	}

	.newhope-info {
		padding: 70px 0;

		@media only screen and (max-width: $md-breakpoint) {
		    padding-top: 30px;
		}

		.container {
			align-items: center;
			display: flex;
			justify-content: space-between;

			@include flex-column-layout($lg-breakpoint);

			>div {
				border: 1px solid $white;
				margin-top: 30px;
				//position: relative;
				width: 247px;

				@media only screen and (max-width: $md-breakpoint) {
		    		margin-top: 15px;
				}

				.title {
					background: $nh-green;
				}

				&:nth-child(2) {

					.title {
						background: $nh-blue;
					}
				}

				&:nth-child(3) {

					.title {
						background: $nh-gold;
					}
				}

				&:nth-child(4) {

					.title {
						background: $nh-red;
					}
				}

				.select-services {
					/*display: block;
					position: relative;
					height: 100%;
					width: 100%;*/

					.hover-image {
						display: none;
					}

					&:hover {

						.main-image {
							display: none;
						}
						.hover-image {
							display: block;

						}
					}
				}
			}

			.title {
				
				color: $white;
				display: block;
				display: flex;
				font-weight: bold;
				padding-top: 7px;
				position: absolute;
				height: 50px;
				justify-content: center;
				margin-top: -50px;
				text-align: center;
				width: 247px;
				z-index: 2;
			}
		}
	}

	.greenhouse-bg {
		background-position: 0 100%;
		background: url('../images/background.png') no-repeat;
		background-size: cover;
		height: auto;
		min-height: 1250px;
		width: 100%;
	}

	.statistics {

		@include hide-mobile($md-breakpoint);
	}

	.buttons {
		

		@media only screen and (min-width: $md-breakpoint) {
        	margin-top: 150px;
    	}

		.container {
			align-items: center;
			display: flex;
			justify-content: space-around;

			@include flex-column-layout($md-breakpoint);
		}

		.btn {
			margin-bottom: 15px;
		}
	}

	.connect {
		background: url('../images/e-newsletter-bg.png') no-repeat;
		background-size: cover;
		color: $white;
		padding: 60px 0;
		font-size: 1.6em;
		font-weight: bold;

		.container {
			display: flex;
			justify-content: flex-end;

			@include flex-column-layout($md-breakpoint);

			@media only screen and (max-width: $md-breakpoint) {
        		align-items: center;
    		}
		}

		i {
			margin-right: 10px;
		}

		iframe {
			margin-top: 25px;
		}

		.enewsletter {
			width: 350px;
			margin-top: 40px;

			@media only screen and (max-width: $lg-breakpoint) {
        		width: 70%;
    		}

			input {
				margin-top: 30px;
			}
		}

		.social {
			display: flex;
			margin: 40px 0 0 30px;
			width: 380px;

			@media only screen and (max-width: $lg-breakpoint) {
				align-items: center;
        		width: 80%;
        		margin-left: 0;
    		}

			@include flex-column-layout($md-breakpoint);

			.facebook-feed {
				background: $white;
				color: $nh-blue;
				font-size: 0.8em;
				font-weight: normal;
				margin-top: 30px;
				min-height: 300px;
				max-width: 300px;
				padding: 10px;

				.logo-box {
					align-items: center;
					border: 1px solid $nh-blue;
					display: flex;
					float: left;
					font-weight: bold;
					margin-right: 10px;
					height: 60px;
					justify-content: center;
					text-align: center;
					width: 60px;
				}

				img {
					margin-top: 15px;
				}
			}
			
			a {
				color: $white;
			}

			.fb-like {
				margin-top: 8px;
			}

			.icons {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				margin-left: 20px;
				//min-height: 300px;
				padding-top: 60px;

				@media only screen and (max-width: $md-breakpoint) {
					margin-left: 0;
        			flex-direction: row;

        			i {
        				background: $nh-lt-blue;
        				border-radius: 10px;
        				color: $white;
        				padding: 10px;
        			}
    			}
			}
		}
	}
	
	.ccm-image-slider-title {
		position: absolute;
		left: -9999px;
	}

	.contact {
		text-align: center;
		font-size: 1.5em;
		padding: 50px 10% 30px;
	}

	.slideshow {
		margin-top: -14px;
	}
	
}